<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Village d'artisanat Denden</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div>
      <!--Header section-->
      <header>
        <!--nav section-->
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a href="index.html" class="navbar-brand"
              >VillageArt<span class="text-success">Denden.</span></a
            >

            <button
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbarContent"
              aria-controls="navbarContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarContent">
              <ul class="navbar-nav ml-auto pt-3 pt-lg-0">
                <li class="nav-item active">
                  <a href="index.html" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Catégories
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="nosarisans.html" class="nav-link">Nos artisans</a>
                </li>
                <li class="nav-item">
                  <a href="Evenement.html" class="nav-link">Evenement</a>
                </li>
                <li class="nav-item">
                  <a href="blog.html" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="about.html" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                  <a href="contact.html" class="nav-link">Contactez Nous</a>
                </li>
                <li class="nav-item">
                  <a href="seconnecter.html" class="nav-link">Se Connecter</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- main section -->
      <main>
        <div>
          <div class="row center">
            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/DSC_0255.JPG" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Bois</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-o"></i> </span>
                  <span> <i class="fa fa-star-o"></i> </span>
                </div>
                <div class="price">20 DT</div>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <img class="medium" src="./images/DSC_0255.JPG" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Bois</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">20 DT</div>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/DSC_0255.JPG" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Bois</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">20 DT</div>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/DSC_0255.JPG" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Bois</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">20 DT</div>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/DSC_0255.JPG" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Bois</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">20 DT</div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- Footer -->
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 py-3">
              <h3>VillageArt<span class="text-success">Denden.</span></h3>
            </div>
            <div class="col-lg-3 py-3 page-footer">
              <h5>Information du contact</h5>
              <p>301 The Greenhouse, Custard Factory, London, E2 8DY.</p>
              <p>Email: example@mail.com</p>
              <p>Phone: +00 112323980</p>
            </div>
            <div class="col-lg-3 py-3">
              <h5>Village d'artisanat denden</h5>
              <ul class="footer-menu">
                <li><a href="index.html">Accueil</a></li>
                <li><a href="evenement.html">Evenement</a></li>
                <li><a href="blog.html">Blog</a></li>
              </ul>
            </div>
            <div class="col-lg-3 py-3">
              <h5>Newsletter</h5>
              <form action="#">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Entrer votre Email"
                />
                <button type="submit" class="btn btn-primary btn-sm mt-2">
                  Envoyer
                </button>
              </form>
            </div>
          </div>

          <hr />

          <div class="row mt-4">
            <div class="col-md-6">
              <p style="text-align: center">@Copyright 2021.</p>
            </div>
            <div class="col-md-6 text-right">
              <div class="sosmed-button">
                <a href="#"><span class="mai-logo-facebook-f"></span></a>
                <a href="#"><span class="mai-logo-twitter"></span></a>
                <a href="#"><span class="mai-logo-youtube"></span></a>
                <a href="#"><span class="mai-logo-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
