/* .col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

button.small {
  font-size: 1.2rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

.min-30 {
  min-width: 30rem;
}


.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #020202;
  border-radius: 0.5rem;
  margin: 5px;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
} */
